<div class="container" style="border: 1px solid; width: 40%;">
    <div class="row">
        <div class="col-12 row" style="border: 1px solid transparent; border-bottom-color: gris;">
            <div class="col-5">UID</div>
            <div class="col-7">{{ user.uid }}</div>
        </div>
        <div class="col-12 row" style="border: 1px solid transparent; border-bottom-color: gris;">
            <div class="col-5">UserName</div>
            <div class="col-7">{{ user.username }}</div>
        </div>
        <div class="col-12 row" style="border: 1px solid transparent; border-bottom-color: gris;">
            <div class="col-5">EMAIL</div>
            <div class="col-7">{{ user.email }}</div>
        </div>
        <div class="col-12 row" style="border: 1px solid transparent; border-bottom-color: gris;">
            <div class="col-5">Password</div>
            <div class="col-7">{{ user.pword }}</div>
        </div>
    </div>
</div>
